:root {
  --matcha-green: #7cb342;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: #333;
}
.kioskpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--matcha-green);
  color: var(--white);
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.8;
}

.menu-container {
  text-align: center;
  padding: 20px;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px; /* height of navbar */
}

.menu-grid {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 50px;
  padding: 15px;
  max-width: 1000px;
  margin: 1 auto;
}

.menu-button {
  background-color: lightgray;
  color: black;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  width: 900px;
  transition: background 0.3s;
}

.menu-button:hover {
  background-color: var(--matcha-green);
}